.saved-quote {
  height: 25%;
  margin-top: 12px;
  padding: .75em .5em;
}

.remove-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.remove-button {
  margin-right: 15px;
  margin-bottom: 5px;
}