* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root,
body {
  height: 100%;
}

main {
  height: 76%;
  overflow: auto;
  flex: 1 0 auto;
}

.feedback {
  margin-top: 5px;
  text-align: center;
}
