.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-img {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1030px) {
  .home-img {
    max-width: 25%;
  }
}